@import '../utilities/flex.scss';
@import '../utilities/rem_convertor';

.admin {
    &__card-shortcuts {
        @include flex-center();
        flex-wrap: wrap;
        margin: rem-convertor(16px) auto;
        & .btn {
            margin: rem-convertor(6px);
            border-radius: 0;
            padding: rem-convertor(6px);
        }
    }
}
