@import '../utilities/flex.scss';
@import '../utilities/rem_convertor';

.admin {
    &__card-shortcuts {
        margin-right: auto;
        margin-left: auto;
        & .card {
            border-width: 0;
            border-radius: 0;
            &-body {
                padding: 0;
            }
            &-title {
                @include flex-center();
                flex-wrap: wrap;
                margin-bottom: 0;
                width: 100%;
                & .btn-group {
                    display: initial;
                    & .btn {
                        margin: rem-convertor(4px);
                        border-radius: 0;
                        @media only screen and (max-width: 375px) {
                            margin: rem-convertor(4px) 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
