@import '../utilities/flex.scss';
@import '../utilities/rem_convertor';

.admin {
    &--component {
        & .modal {
            &-content {
                border-radius: 0;
            }
            &-header, &-body, &-footer {
                padding: rem-convertor(8px);
            }
            &-header {
                & .btn-close {
                    box-shadow: none;
                }
            }
            &-footer {
                @include flex-center();
                & .btn {
                    border-radius: 0;
                }
            }
        }
    }
    &__table {
        margin-right: auto;
        margin-left: auto;
        &-search-results {
            margin: rem-convertor(16px) 0;
            & .btn {
                border-radius: 0;
                padding: rem-convertor(6px);
                font-size: rem-convertor(12px);
            }
        }
        &-header {
            & .btn-group {
                & .btn {
                    border-radius: 0;
                    padding: rem-convertor(6px);
                    font-size: rem-convertor(12px);
                }
            }
        }
        &-body {
            & .table {
                margin-bottom: 0;
                & thead, & tbody {
                    & tr {
                        height: rem-convertor(40px);
                        & th, & td {
                            border-width: 1px;
                            padding: rem-convertor(6px);
                        }
                    }
                }
                & thead {
                    & tr {
                        & th:not(:first-child) {
                            & div {
                                @include flex-center-between();
                                & .fa-solid {
                                    &.fa-sort-up, &.fa-sort-down {
                                        cursor: pointer;
                                    }
                                    &.fa-sort-down {
                                        display: none;
                                    }
                                }
                            }
                        }
                        & th:last-child {
                            width: rem-convertor(72px);
                        }
                    }
                }
                & tbody {
                    & tr {
                        & th, & td {
                            vertical-align: middle;
                        }
                    }
                }
                & tbody {
                    & tr {
                        & td {
                            & .btn-group {
                                & .btn {
                                    @include flex-center();
                                    border-radius: 0;
                                    width: rem-convertor(18px);
                                    & .fa-solid {
                                        &.fa-eye, &.fa-pencil,
                                        &.fa-trash, &.fa-trash-arrow-up {
                                            font-size: rem-convertor(12px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 768px) {
            & thead {
                & tr {
                    height: 0 !important;
                    & th {
                        display: none;
                    }
                }
            }
            & tbody {
                & tr:not(:last-child) {
                    margin-bottom: rem-convertor(8px);
                }
                & tr {
                    border: 1px solid var(--bs-border-color);
                    td {
                        @include flex-center-between();
                        border: 0;
                        &::before {
                            content: attr(data-cell) " ";
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
