@import '../utilities/flex.scss';
@import '../utilities/rem_convertor';

.admin {
    &--component {
        & .modal {
            &-content {
                border-radius: 0;
            }
            &-header, &-body, &-footer {
                padding: rem-convertor(8px);
            }
            &-header {
                & .btn-close {
                    box-shadow: none;
                }
            }
            &-footer {
                @include flex-center();
                & .btn {
                    border-radius: 0;
                }
            }
        }
    }
    &__table {
        margin-right: auto;
        margin-left: auto;
        &-header {
            & .btn-group {
                & .btn {
                    border-radius: 0;
                }
            }
        }
        &-body {
            & .table {
                margin-bottom: 0;
                & thead, & tbody {
                    & tr {
                        height: rem-convertor(40px);
                        & th, & td {
                            border-width: 1px;
                            padding: rem-convertor(6px);
                            &:first-child {
                                width: rem-convertor(20px);
                                & .form-check {
                                    @include flex-center();
                                    margin-bottom: 0;
                                    &-input {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
                & thead {
                    & tr {
                        & th:not(:first-child) {
                            & div {
                                @include flex-center-between();
                                & .fa-solid {
                                    &.fa-sort-up, &.fa-sort-down {
                                        cursor: pointer;
                                    }
                                    &.fa-sort-down {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                & tbody {
                    & tr {
                        & th, & td {
                            vertical-align: middle;
                        }
                    }
                }
                & tbody {
                    & tr {
                        & td {
                            & .btn-group {
                                & .btn {
                                    border-radius: 0;
                                    width: rem-convertor(40px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
