/* Font colors */
$basic-text-color: #424743;

/* Border colors */
$basic-border-color: #424743;

/* Background colors */
$basic-background-color: #424743;

/* Special colors */
$special-color: #EAC11F;
$special-bg-color-positive: #1FEAC1;
$special-bg-color-danger: #EA1F48;
