@import 'src/css/utilities/_rem_convertor.scss';

.admin {
  & .admin-layout-section {
    &--header {
      display: flex;
    }
    &__header-title {
      font-style: italic;
      user-select: none;
    }
    &__header-menu {
      margin-right: rem-convertor(8px);
      border-radius: 0;
    }
    &--footer {
      padding-top: rem-convertor(16px);
      padding-bottom: rem-convertor(5px);
      & .q-toolbar {
        justify-content: center;
        min-height: auto;
      }
    }
    &__footer-title, &__footer-designer {
      & p {
        margin-bottom: 0;
        font-size: rem-convertor(12px);
      }
    }
  }
  &__drawer-list {
    & .q-item {
      padding-left: rem-convertor(8px);
      padding-right: rem-convertor(8px);
    }
    &-item {
      & .q-item__section {
        &--side {
          align-items: center;
          padding-right: rem-convertor(8px);
        }
        & .q-item__label {
          margin-top: 0;
          letter-spacing: 0;
        }
      }
      & .q-expansion-item {
        &__content {
          padding-left: rem-convertor(56px);
          & .q-item {
            padding-top: 0;
            padding-bottom: 0;
          }
          & .navbar-submenu {
            padding-left: 0;
            padding-right: 0;
            & .q-item__section {
              & .q-expansion-item {
                &__content {
                  padding-left: rem-convertor(32px);
                }
              }
            }
          }
        }
      }
    }
  }
}
