.admin-section__grid-table {
  width: 80%;
  @media only screen and (min-width: 475px) and (max-width: 1024px) {
    width: 85%;
  }
  @media only screen and (max-width: 474px) {
    width: 90%;
  }
  &:deep() {
    .q-table__top, .q-table__bottom {
      padding: 12px;
    }
    .q-table__top {
      border-radius: 0;
      border: 0.5px solid #000000;
      border-bottom: none;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
      background: #FFFFFF;
      @media only screen and (max-width: 767px) {
        padding: 6px;
        & .q-table__control:first-child {
          margin-bottom: 8px;
        }
      }
      @media only screen and (max-width: 475px) {
        padding: 6px;
      }
      & .q-table__control {
        & .admin-section__grid-table-top-right {
          & .q-form {
            & .q-field {
              width: 30vw;
              @media only screen and (min-width: 768px) and (max-width: 1024px) {
                width: 40vw;
              }
              @media only screen and (max-width: 767px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .q-table__middle {
      display: none;
    }
    .q-table__grid-content {
      flex-direction: column;
      & .admin-section__grid-table-body {
        & .q-card {
          border-radius: 0;
          border: 0.5px solid #000000;
          border-bottom: none;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
          & .q-list {
            padding: 12px;
            & .q-item {
              flex-direction: column;
              padding: 0;
              &__section:last-child {
                padding-left: 0;
              }
            }
          }
        }
      }
      & .admin-section__grid-table-body:last-child {
        & .q-card {
          border-bottom: 0.5px solid #000000;
        }
      }
    }
  }
}
.q-menu {
  & .q-list {
    & .q-item {
      padding: 8px;
      &__section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        & .q-icon {
          margin-right: 4px;
        }
      }
    }
  }
}
