.admin {
    &.users, &.user-roles {
        margin-bottom: rem-convertor(32px);
        & h1 {
            margin-bottom: rem-convertor(32px);
            text-align: center;
            color: #424743;
        }
        & .menu {
            & .table-responsive {
                margin-left: auto;
                margin-right: auto;
            }
            & .table {
                margin-bottom: 0;
                border-color: #424743;
                color: #424743;
                & thead, & tbody {
                    & tr {
                        & th, & td {
                            vertical-align: middle;
                            padding: rem-convertor(5px);
                        }
                        & th, & td:last-child {
                            text-align: center;
                        }
                        & td {
                            & span {
                                font-weight: 700;
                            }
                        }
                        & td:last-child {
                            & .btn {
                                border-radius: 0;
                                width: rem-convertor(30px);
                                height: rem-convertor(30px);
                                & .fas.fa-info, & .fas.fa-edit {
                                    @include flex-center();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.modal {
    color: #424743;
    &-content {
        border-radius: 0;
    }
    &-header {
        @include flex-center();
        border-bottom: 0 !important;
        & .btn-close {
            &:focus {
                box-shadow: none;
            }
        }
    }
    &-title {
        margin-bottom: 0 !important;
    }
    &-body {
        & p {
            margin-bottom: 0;
            & span {
                font-weight: 700;
            }
        }
        & form {
            margin-bottom: 0;
        }
    }
    &-footer {
        @include flex-center();
        border-top: 0 !important;
        & .btn.btn-primary {
            border-radius: 0;
            background-color: #424743;
            border-color: #424743;
            color: #EAC11F;
            font-weight: 700;
            &:focus-visible {
                box-shadow: none;
            }
        }
    }
    &-actions {
        & .btn.btn-primary {
            border-radius: 0;
            background-color: #424743;
            border-color: #424743;
            color: #EAC11F;
            font-weight: 700;
            &:focus-visible {
                box-shadow: none;
            }
        }
    }
}
.form-select {
    border-radius: 0;
    border-color: #424743;
    color: #424743;
    &:focus, &:focus-visible {
        box-shadow: none;
    }
    &:focus {
        border-color: #424743;
    }
}
