.form-select {
    border-radius: 0;
    border-color: $border-color;
    color: $text-color;
    &:focus, &:focus-visible {
        box-shadow: none;
    }
    &:focus {
        border-color: $border-color;
    }
}
