.admin {
    &.user-roles {
        & .menu {
            & .table-responsive {
                margin-left: auto;
                margin-right: auto;
                & #newRecord.btn.btn-primary {
                    margin-bottom: rem-convertor(16px);
                    border-radius: 0;
                    &:focus-visible {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.form-control, .form-select {
    border-radius: 0;
    border-color: #424743;
    color: #424743;
    &:focus, &:focus-visible {
        box-shadow: none;
    }
    &:focus {
        border-color: #424743;
    }
    &:last-of-type {
        resize: vertical;
        max-height: rem-convertor(300px);
    }
}
