.card {
    border-radius: 0;
    &-header, &-footer {
        background-color: #FFFFFF;
    }
    &-header {
        border-bottom: 0;
        font-size: rem-convertor(32px);
        text-align: center;
    }
    &-footer {
        @include flex-center();
        border-top: 0;
        & div {
            margin-right: rem-convertor(8px);
            margin-left: rem-convertor(8px);
        }
    }
}
