.guest {
    min-height: 100vh;
    @include flex-center();
    & .hero {
        text-align: center;
        user-select: none;
        color: #424743;
        &-header {
            font-weight: 700;
            font-size: rem-convertor(36px);
        }
        &-body {
            margin-top: rem-convertor(24px);
            & .lead {
                & a {
                    color: #424743;
                }
            }
            &-instructions {
                & .list-group {
                    border-radius: 0;
                    &-item {
                        border-color: #424743;
                    }
                }
            }
        }
        &-actions {
            @include flex-center();
            justify-content: space-evenly;
            & .btn.btn-primary {
                @include flex-center();
                border-radius: 0;
                background-color: #424743;
                border-color: #424743;
                height: rem-convertor(50px);
                color: #EAC11F;
                font-weight: 700;
                &:focus-visible {
                    box-shadow: none;
                }
            }
        }
    }
}
