.admin-section {
  &__statistics-communication, &__statistics-management {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media only screen and (max-width: 1440px) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1440px) {
      margin-left: 128px;
      margin-right: 128px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      margin-left: 64px;
      margin-right: 64px;
    }
    @media only screen and (min-width: 475px) and (max-width: 767px) {
      margin-left: 48px;
      margin-right: 48px;
    }
    @media only screen and (min-width: 375px) and (max-width: 474px) {
      margin-left: 32px;
      margin-right: 32px;
    }
    @media only screen and (max-width: 374px) {
      margin-left: 16px;
      margin-right: 16px;
    }
    & .q-card {
      border-radius: 0;
      width: 18%;
      @media only screen and (min-width: 600px) and (max-width: 1440px) {
        width: 50%;
      }
      @media only screen and (min-width: 475px) and (max-width: 599px) {
        width: 75%;
      }
      @media only screen and (min-width: 375px) and (max-width: 474px) {
        width: 85%;
      }
      @media only screen and (max-width: 374px) {
        width: 100%;
      }
      &__section {
        padding: 8px;
        text-align: center;
      }
      &__section:first-child {
        font-size: 30px;
      }
      &__section:not(:first-child) {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
