@mixin card-dimensions {
  width: 80%;
  @media only screen and (min-width: 475px) and (max-width: 1023px) {
    width: 85%;
  }
  @media only screen and (max-width: 474px) {
    width: 90%;
  }
}

@mixin card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  & .q-btn {
    margin: 8px;
    border-radius: 0;
  }
}

.admin-section {
  &--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
    &-create, &-show, &-edit {
      flex-direction: column;
      &:deep() {
        & .q-card {
          margin: 10px 0;
          border-radius: 0;
          &__section {
            & .admin-section__dialog-body-content {
              &:deep() {
                .q-field {
                  margin: 4px 0;
                }
              }
            }
          }
        }
      }
    }
    &-create, &-edit {
      & .q-form {
        @include card-dimensions();
        & .admin-section__actions {
          @include card-actions();
          & .q-btn:first-child {
            color: #FFFFFF !important;
          }
          & .q-btn:last-child {
            color: #000000 !important;
          }
        }
      }
    }
    &-show {
      & .q-card {
        @include card-dimensions();
      }
      & .admin-section__actions {
        @include card-actions();
        & .q-btn:first-child {
          color: #FFFFFF !important;
        }
        & .q-btn:last-child {
          color: #000000 !important;
        }
      }
    }
  }
}
