.section--dropdown {
    & .dropdown {
        & .btn {
            border-radius: 0;
        }
        &-menu {
            &.show {
                border-radius: 0;
                padding: 0;
                transform: translate(0px, 38px) !important;
            }
        }
        &-item {
            padding: 6px 12px;
        }
    }
}
